*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

.center-wrapper {
    display: flex;
    justify-content: center;
}

.center-wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    text-align: center;
    border: 2px solid black;
}

.player-turn {
    padding: 8px;
    text-align: center;
    border: 2px solid black;
}

.grid {
    --cell-height: 100px;
    --cell-width: 100px;
    
    display: grid;
    grid-template-rows: repeat(3, var(--cell-height));
    grid-template-columns: repeat(3, var(--cell-width));
    gap: 8px;

    border: 2px solid black;
    padding: 8px;
}